<div class="grid-container">
  <div class="plan grid-item">
    <div class="plan-name">{{ siteData.domain }}</div>
    <div class="plan-label">
      <img class="plan-badge" src="assets/images/medal.png" />Professional plan
    </div>
  </div>
  <div class="storage grid-item">
    <app-progress-bar
      [total]="siteData.storage"
      [consumed]="siteData.usedStorage"
    ></app-progress-bar>
  </div>
  <div class="visitor grid-item">
    <app-progress-bar
      [total]="siteData.monthlyVisitorCapacity"
      [consumed]="siteData.monthlyVisitor"
    ></app-progress-bar>
  </div>
  <div class="domain grid-item">
    <app-donut-chart
      [total]="siteData.availableDomains"
      [consumed]="siteData.usedDomains"
    ></app-donut-chart>
  </div>
  <div class="status grid-item">
    <button
      *ngIf="siteData.status && !siteData.subDomain?.length"
      class="other"
      [ngClass]="{ active: siteData.status === 'active' }"
    >
      {{ siteData.status | titlecase }}
    </button>
  </div>
  <ng-container *ngFor="let subdomain of siteData.subDomain">
    <div class="plan grid-item">
      <div
        class="plan-name"
        [style.opacity]="subdomain.domainTag === 'staging' && 0.4"
      >
        {{ subdomain.name }}
      </div>
    </div>
    <div class="storage grid-item">
      <app-progress-bar
        isSubDomain="true"
        [total]="siteData.storage"
        [consumed]="subdomain.usedStorage"
        [other]="subdomain.domainTag !== 'primary'"
      ></app-progress-bar>
    </div>
    <div class="visitor grid-item">
      <app-progress-bar
        isSubDomain="true"
        [total]="siteData.monthlyVisitorCapacity"
        [consumed]="subdomain.monthlyVisitor"
        [other]="subdomain.domainTag !== 'primary'"
      ></app-progress-bar>
    </div>
    <div class="domain grid-item">
      <button
        *ngIf="subdomain.domainTag"
        class="other"
        [ngClass]="{ primary: subdomain.domainTag === 'primary' }"
      >
        {{ subdomain.domainTag | titlecase }}
      </button>
    </div>
    <div class="status grid-item">
      <button class="active">Active</button>
    </div>
  </ng-container>
</div>
