<div class="item html">
  <p>{{ consumed }}/{{ total }}</p>
  <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
    <g>
      <circle
        id="circle"
        [style.stroke-dashoffset]="0"
        class="circle_animation"
        r="20"
        cy="30"
        cx="30"
        stroke-width="3"
        stroke="#D8E0FE"
        fill="none"
      />
      <circle
        id="circle"
        [style.stroke-dashoffset]="drawValue"
        class="circle_animation"
        r="20"
        cy="30"
        cx="30"
        stroke-width="3"
        stroke="#5b7cfd"
        fill="none"
      />
    </g>
  </svg>
</div>
