main {
  display: flex;
  height: 100%;
}

app-main {
  display: flex;
  flex: 1;
  overflow: auto;
}

@media (max-width: 700px), screen and (max-height: 600px) {
  main {
    flex-direction: column;
  }
}
