<button (click)="openModal()" class="button add-button">
  <span class="plus-sign">+</span>
  Add New Site
</button>

<div
  id="popup1"
  class="overlay"
  [formGroup]="masterForm"
  [ngClass]="{ active: showModal }"
>
  <div class="popup">
    <div class="pop-header">
      <h3>Add Domain Details</h3>
      <a class="close" (click)="close()">&times;</a>
    </div>
    <div class="content">
      <div class="static-fields">
        <div class="input-container">
          <span>Domain Name *</span>
          <input
            formControlName="domain"
            [ngClass]="{
              error:
                masterForm.get('domain').touched &&
                masterForm.get('domain').errors
            }"
          />
        </div>
        <div class="input-container">
          <span>Storage *</span>
          <input
            type="number"
            formControlName="storage"
            [ngClass]="{
              error:
                masterForm.get('storage').touched &&
                masterForm.get('storage').errors
            }"
          />
        </div>
        <div [formGroup]="firstSub" class="input-container">
          <span>Subdomain</span>
          <input formControlName="name" />
        </div>
        <div class="input-container">
          <span>Monthly Visitor *</span>
          <input
            type="number"
            formControlName="monthlyVisitorCapacity"
            [ngClass]="{
              error:
                masterForm.get('monthlyVisitorCapacity').touched &&
                masterForm.get('monthlyVisitorCapacity').errors
            }"
          />
        </div>
      </div>
      <div class="dynamic-fields">
        <div *ngFor="let batch of otherSub; let i = index" [formGroup]="batch">
          <input formControlName="name" />
          <span (click)="deleteSub(i)" class="delete-sub">&times;</span>
        </div>
      </div>
      <button class="add-subdomain" (click)="addSub()">Add More</button>
    </div>
    <div class="footer">
      <button (click)="close()" class="button secondary-button">Close</button>
      <button class="button primary-button" (click)="submit()">
        Save Changes
      </button>
    </div>
  </div>
</div>
