<div class="side-bar">
  <div class="profile">
    <img src="assets/images/avatar.jpg" class="avatar" />
    <div class="details">
      <p class="name">Akhil Biju</p>
      <p class="email">akhilbiju.t@gmail.com</p>
    </div>
  </div>
  <nav>
    <ul class="list-container">
      <li><img src="assets/svg/chart.svg" /><span>Dashboard</span></li>
      <li class="active">
        <img src="assets/svg/details.svg" /><span>Site Details</span>
      </li>
      <li><img src="assets/svg/migrate.svg" /><span>Migrations</span></li>
      <li><img src="assets/svg/backup.svg" /><span>Backups</span></li>
      <li>
        <img src="assets/svg/collaboration.svg" /><span>Collaborators</span>
      </li>
      <li><img src="assets/svg/tickets.svg" /><span>Support Tickets</span></li>
      <li><img src="assets/svg/ticket.svg" /><span>Open New Ticket</span></li>
    </ul>
  </nav>
</div>
